/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------------------------
🤖 Variables
----------------------------------------------------*/
:root{
    --gap: 32px;
    --primary: #111;
    --secondary: #eee;
    --black: #000;
    --white: #fff;
    --grey: #636363;
    --light-grey: #aaa;
}

/*--------------------------------------------------
📦Container et responsive
---------------------------------------------------*/
.container{
    width : 100%;
    /*vous pouvez enlever le padding si il vous gene*/
    padding: 16px;
}
.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*vous pouvez enlever le padding si il vous gene*/
    padding: 16px;
}
.container-1000Header{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.responsive{
    /*Les images doivent d'adapter a leur parents*/
    width: 100%;
    height: auto;
    object-fit: cover; /* jouez sur ces proprietés pour recadrer / agrandir l'image */
    object-position: center;
}

/*--------------------------------------------------
🪄 Mise en page flex
---------------------------------------------------*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.reverse{
    flex-direction: row-reverse;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}

.alternate>div:nth-child(2n){
    flex-direction: row-reverse;
}
.gap{
    gap:var(--gap);
}


/*--------------------------------------------------
🧱Largeurs et colonnes
---------------------------------------------------*/

/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans d'apres un petit script sass*/

/*Desktop*/
.large-1 {
    width: calc(8.3333333333% - 11 * var(--gap) / 12);
  }
  .large-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
  }
  .large-3 {
    width: calc(25% - 3 * var(--gap) / 4);
  }
  .large-4 {
    width: calc(33.3333333333% - 2 * var(--gap) / 3);
  }
  .large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
  }
  .large-6 {
    width: calc(50% - 1 * var(--gap) / 2);
  }
  .large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
  }
  .large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
  }
  .large-9 {
    width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
  }
  .large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
  }
  .large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
  }
  .large-12 {
    width: calc(100% - 0 * var(--gap) / 1);
  }
  .borderPromessesLarge {
  border-right: 1px solid #000000;
}
  
/*Tablets*/
@media all and (max-width: 800px) {
    .medium-1 {
      width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }
    .medium-2 {
      width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }
    .medium-3 {
      width: calc(25% - 3 * var(--gap) / 4);
    }
    .medium-4 {
      width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }
    .medium-5 {
      width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }
    .medium-6 {
      width: calc(50% - 1 * var(--gap) / 2);
    }
    .medium-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }
    .medium-8 {
      width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }
    .medium-9 {
      width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }
    .medium-10 {
      width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }
    .medium-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }
    .medium-12 {
      width: calc(100% - 0 * var(--gap) / 1);
    }
    .borderPromessesMedium {
  border-right: 1px solid #000000;
  }
  }
/*Smartphones*/
@media all and (max-width: 440px) {
    .small-1 {
      width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }
    .small-2 {
      width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }
    .small-3 {
      width: calc(25% - 3 * var(--gap) / 4);
    }
    .small-4 {
      width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }
    .small-5 {
      width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }
    .small-6 {
      width: calc(50% - 1 * var(--gap) / 2);
    }
    .small-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }
    .small-8 {
      width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }
    .small-9 {
      width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }
    .small-10 {
      width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }
    .small-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }
    .small-12 {
      width: calc(100% - 0 * var(--gap) / 1);
    }
    .borderPromessesSmall {
      border-right: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  }
    
  }

/*--------------------------------------------------
✍️ Styliser du texte
---------------------------------------------------*/
h1 {
  font-size: 60px;
}
h2 {
  margin-top: 50px;
}
h3 {
  margin-top: 20px;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: black;
}

.noPuce {
    list-style: none;
}

.text-center {
    text-align: center;
}

/* HEADER */

.imgHeader {
  height: 50px;
}

header {
  position:sticky;
  top:0;
  z-index: 999;
  background-color: #f5eaba;
  border-bottom: 1px solid #000000;
}

/* .barreDroite {
  margin-right: 70px;
  border-right: 1px solid #000000;
} */

/* HERO */
.mt-75 {
  margin-top: 75px;
}
.mt-30 {
  margin-top: 30px;
}
.pHero30 {
  font-size: 25px;
  margin-top: 60px;
  padding-bottom: 30px;
}
/* NOS PRODUITS */

.pProduit {
  font-size: 20px;
}

.imgProduit {
  height: 200px;
  border-radius: 14px;
}

.carteProduit {
  box-shadow: 1px 1px 5px 2px gray;
  background-color: #f5eaba;
  border-radius: 14px;
  padding: 20px;
}

.btn {
  background: orange;
  padding: 10px;
  border-radius: 14px;
}

/* NOS SERVICES */

.carteService {
  margin-top: 30px;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 1px 1px 5px 2px gray;
  background-color: #f5eaba;
}

.imgService {
  height: 300px;
  border-radius: 14px;
}

.pService {
  font-size: 20px;
}

/* AVIS CLIENT */

.carteClient {
  border-radius: 14px;
  padding: 20px;
  box-shadow: 1px 1px 5px 2px gray;
  background-color: #f5eaba;
}

/* Autre */
.bgBlue {
  background-color: blue;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
}

/* promesses */

.cartePromesses {
  border-radius: 14px;
  padding: 20px;
  box-shadow: 1px 1px 5px 2px gray;
  background-color: white;
  font-size: 20px;
}

/* .borderPromesses {
  border-right: 1px solid #000000;
} */

/* background image */

.filligrane{
  position: fixed;
  top: 50%;
  left: 425px;
  z-index: -999;
  transform: translate(-50%, -50%);
  filter: opacity(30%);
  width: 1000px;
}


/* FOOTER */

.bgGrey {
  background-color: rgb(225, 225, 225);
}

.footer-50 {
  padding-top: 50px;
}

.bold {
  font-weight: bold;
}

footer {
  border-top: 1px solid #000000;
}